SolidityBasics-RemixIDE/** linguist-vendored=true
erhers-simple-storage/** linguist-vendored=true
hardhat-defi/** linguist-vendored=true
hardhat-erc20/** linguist-vendored=true
hardhat-fund-me/** linguist-vendored=true
hardhat-nft/** linguist-vendored=true
hardhat-simple-storage/** linguist-vendored=true
hardhat-smartcontract-lottery/** linguist-vendored=true
html-fund-me/** linguist-vendored=true
nextjs-smartcontract-lottery/** linguist-vendored=true
